@mixin usingmixi {
    color: burlywood;
    font-style: italic;
 }
 
    h4{
        @include usingmixi;
        text-align: center;
        font-size: xx-large;
        background-color: rgb(192, 227, 237);
        margin: 0px;
        border-top: 0px;
        padding: 0px;
        max-width: 100%;
    }

    

