//variable declarion...
$font-stack:helvetica;
$primary-color:white;
$Secoundary-color:black;
$third-color:khaki;
$fourth-color:maroon;
* {

    margin: 0;
    padding: 0;
    font: 100% $font-stack;
}


.h{
    width: 100%;
    height: 110vh;
    background: linear-gradient($Secoundary-color 100%,$Secoundary-color 100%),url(black-coffee-g889ef491c_1920.jpg);
    background-size: cover;
    background-position: initial;
}

.n{
    width: 1440px;
    height: 85px;
    margin: auto;
}

.i{
    width: 200px;
    float: left;
    height: 70px;
    
}

.l{
    color: rgba(145, 135, 135, 0.87);
    font-family: Arial;
    font-size: 37px;
    padding-left: 15px;
    padding-top: 15px;
    float: left;
}

.linkbar{
    width: 10x;
    float: left;
    height: 70px;
}

ul{
    float: left;
    display:flex;
    justify-content: center;
    align-items: center;
}

ul li{
    list-style: none;
    position: relative; left: 210px;
    margin-left: 110px;
    margin-top: 30px;
    font-size: 25px;
}

li,
a {
    color:$primary-color;
    font-family: Arial;
    text-decoration: none;
    font-size: large;
}

.content{
    color: $primary-color;
    font-size: 22px;
    text-align: center;
    margin-top: 13%;
    
}
.box{
    color: $fourth-color;
    font-size: large;
    margin-top: 0px;
    background-color:$third-color;
}

@mixin usingmixi {
    color: burlywood;
    font-style: italic;
    
}
   
    :root {
        --padding-tool:300px;
      }
    
    
    $myContainer: container;
    
    /**Using Interpolation**/
    
    
    .grid-#{$myContainer} {
        display: grid;
        grid-template-columns: auto auto auto;
        background-color: rgb(0, 0, 0);
        padding: 10px;
        --padding-tool:20px;
    
        }
    
    /**PlaceholderSelectors**/
    
    
        %bgcolorgrid{
            background-color: rgb(0, 0, 0);
        }
        .grid-item {
        @extend %bgcolorgrid;
       
        border: 1px solid rgba(0, 0, 0, 0.8);
        padding: var(--padding-tool);
        font-size: 20px;
        text-align: center;
        }
    
        .grid-item:hover{
            background-color: palevioletred;
        
        }

footer{
    text-align: center;
    font-style: italic;
    }
    