* {
    margin: 0;
    padding: 0;
}

.header{
    width: 100%;
    height: 110vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5)100%,rgba(0, 0, 0, 0.5)100%),url(contact-us-image.jpg);
    background-size: cover;
    background-position: initial;
}

.navbar{
    width: 1440px;
    height: 85px;
    margin: auto;
}

.icon{
    width: 200px;
    float: left;
    height: 70px;
    
}

.logo{
    color: rgba(255, 255, 255, 0.87);
    font-family: Arial;
    font-size: 37px;
    padding-left: 15px;
    padding-top: 15px;
    float: left;
}

.linkbar{
    width: 10x;
    float: left;
    height: 70px;
}

ul{
    float: left;
    display:flex;
    justify-content: center;
    align-items: center;
}

ul li{
    list-style: none;
    position: relative; left: 210px;
    margin-left: 110px;
    margin-top: 30px;
    font-size: 25px;
}

li,
a {
    color: rgb(255, 255, 255);
    font-family: Arial;
    text-decoration: none;
    font-size: large;
}

.content{
    color: rgb(255, 253, 253);
    font-size: 22px;
    text-align: center;
    margin-top: 13%;
    
}
.Address{
    color: rgb(255, 255, 255);
    text-align: center;
    margin-top: 90px;
    margin-right: 120px;
}




